<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/styles/account/index.css">
  <title>GA Token | GrandAssembly</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/trading/index.css">
<style>
  button{
    -webkit-appearance: none;
  }
</style>
<body>

<form id="calc-container" enctype="multipart/form-data" method="post">
  <div class="bill-side">
    <div class="bill">
      <h3>Token Miktarı</h3>
      <input oninput="coinPriceCal(this)" type="number" id="amount-tok" name="coin_amount" class="people-number" placeholder="Token Miktarı (200 min)" style="text-align: left; text-indent: 1rem" onchange="calc()">
    </div>
    <div class="tips">
      <h3>Kart Bilgileri</h3>
      <div class="tip amounts">
        <input  type="number" name="card_number" class="people-number" placeholder="Kart Numarası" style="text-align: left; text-indent: 1rem" onchange="calc()">
        <input  type="text" name="date" class="people-number" placeholder="Tarih XX/XX" style="text-align: left; text-indent: 1rem; width: 48.3%; margin-top: 15px">
        <input  type="number" name="cvc" class="people-number" placeholder="CVC" style="text-align: left; text-indent: 1rem; width: 48.3%; margin-top: 15px">
      </div>
    </div>
    <div class="people">
      <h3>Kayıtlı Kartlar</h3>
      <br>
      {% for i in used_cards %}
        <h2 onclick="buy_by_token('{{ i.card_token }}')" style="padding: 5px; border-radius: 5px; border: 1px solid gray">**** **** **** {{ i.last4 }}</h2>
        <br>
      {% endfor %}
    </div>
  </div>
  <div class="total-side">
    <div class="tip-amount">
      <h3 style='color:white;'>Birim başı fiyat</h3> <span class="tip-person">~₺{{ token_price }}</span>
      <p>/ token</p>

    </div>
    <div class="total">
      <h3 style='color:white;'>Ödenecek Toplam</h3> <span id="total_price" class="total-person">~₺0.00</span>
      <p></p>
    </div>
    <div class="reset">
      <input class="button-main-register" value="Onayla" style="text-align: center; width: 80%; height: fit-content; margin-bottom: 25px" type="submit">
    </div>
  </div>
</form>
<br>
<center>
    <div style="clear: both; max-width: 90%; width: 700px; color: white">
      Bekle, token satın almak yerine aşağıdaki linki tanıdıklarınla paylaşabilirsin, bu linkten kayıt olan herkes için 500 token (yaklaşık 25₺) kazanırsın.
      <br>
      <br>
      <a href="http://grandassembly.net/account/register?referrer={{ current_user.username }}">http://grandassembly.net/account/register?referrer={{ current_user.username }}</a>
    </div>
  </center>

<script>
  function coinPriceCal(element){
    let amount_of_coins = element.value
    document.getElementById("total_price").innerHTML = "~₺" + ({{ token_price }} * amount_of_coins)
  }
  function buy_by_token(card_token){
    document.location = "/trading/buy_with_token/" + card_token + "/" + document.getElementById("amount-tok").value
  }
</script>

</body>
</html>