<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GrandAssembly | Sign in to your account</title>
    <link rel="stylesheet" href="/styles/account/index.css">
    <style>
        .w-d{
            display: none;
            font-family: "Open Sans";
        }
        @media only screen and (max-width: 750px) {
            .center-div-join{
                display: none;
            }
            .w-d{
                display: block;
            }
        }
    </style>
</head>
<body>
    <div class="center-div-join">
        <h1 class="join-header">Token al/sat</h1>
        <h2 class="slogan-header">Düşüncelerini <span id="slogan-word"> sansür </span>olmadan özgürce paylaş.</h2>
      <h2 class="slogan-header">Token satın almak mı para çekmek mi istiyorsun?</h2>
    </div>
    <div class="center-div-form" style="border: none">
        <div id="alerts-div" style="color: dodgerblue; font-family: Roboto; font-size: 1rem">

        </div>
        <br>
        <div id="form-inputs-1">
            <h1 class="w-d">Token satın almak mı para çekmek mi istiyorsun?</h1>
          <button class="button-main-register" onclick="document.location = '/trading/buy'">Satın Al</button>
          <button class="button-main-register" onclick="document.location = '/trading/sell'">Çek</button>
        </div>
    </div>
    <script src="/scripts/account/change-text.js"></script>
    <script src="/scripts/account/register-actions.js"></script>
</body>
</html>