<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GrandAssembly | Sign in to your account</title>
    <link rel="stylesheet" href="/styles/account/index.css">
</head>
<body>
    <div class="center-div-join" style="top: -500px;">
        <h2 class="slogan-header">Düşüncelerini <span id="slogan-word"> sansür </span>olmadan özgürce paylaş.</h2>
    </div>
    <div class="center-div-form">
        <div id="alerts-div" style="color: dodgerblue; font-family: 'Open Sans'; font-size: 1rem">

        </div>
        <br>
        <form id="form-inputs-1" method="post" enctype="multipart/form-data">
            <div class="group">
                 <label style="font-family: 'Open Sans'">Username</label>
                 <input type="username" name="username" class="text-form-input">
            </div>
            <br>
            <div class="group">
                 <label style="font-family: Roboto">Password</label>
                 <input type="password" name="password" class="text-form-input">
            </div>
          <br>
          <button class="button-main-register">Giriş Yap</button>
        </form>
        <p style="font-family: Verdana">Hesabın yok mu? <a href="/account/register" style="color: dodgerblue">Hemen Oluştur!</a></p>
    </div>
    <script src="/scripts/account/change-text.js"></script>
    <script src="/scripts/account/register-actions.js"></script>
</body>
</html>