<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>İçeriği Bildir | GrandAsssembly</title>
  <link rel="stylesheet" href="/styles/home/index.css">
  <link rel="stylesheet" href="/styles/forms/index.css">
  <link rel="stylesheet" href="/styles/account/index.css">
  <meta name="viewport"
          content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/account/index.css">
</head>
<body>
  <div class="news-feed load-more" style="margin-top: 70px; padding-left: 15px; box-shadow: none; border: none; width: 100%">
    <form method="post" enctype="multipart/form-data">
        <input type="text" style="border: none; border-bottom: 1px solid rgb(200, 200, 200); outline: none; width: 90%; font-size: 1rem" name="report_reason" placeholder="Şikayet Gerekçesi">
        <br>
        <button style="height: 30px; padding: 0; margin-top: 5px; width: 100px" class="button-main-register">Bildir</button>
    </form>
  </div>
</body>
</html>