@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  	background: #171f2a;
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	color: white;
}

#top-headers{
	width: 80%;
}

.news-feed {
	width: 600px;
	min-height: 250px;
	background: #171f2a;
	margin: 10px auto 0;
	padding: 10px;
	border-top: 1px solid rgb(220, 220, 220)
}

.side-menu {
	width: 25vw;
	position: fixed;
	height: 100vh;
	background-color: #171f2a;
	top: 0;
	border-right: 1px solid rgb(220, 220, 220);
	z-index: 999;
	overflow-y: auto;
}

.header-main{
	border-bottom: 1px solid #d0cfcf;
	width: 100vw;
	height: 50px;
	background-color: #171f2a;
	right: 0;
	position: fixed;
	top: 0;
}

#assembly-logo{
	width: 50px;
	margin-left: 26vw;
	float: left;
	margin-bottom: 20px;
}

#bottom-menu{
	display: none;
}

@media only screen and (max-width: 1250px) {
	.header-main{
		width: 100vw;
	}
	.side-menu{
		display: none;
	}
	.news-feed{
		width: 90%;
	}
	#assembly-logo{
		margin-left: 5vw;
	}
	#bottom-menu{
		display: block;
	}
}

li{
	list-style-type: none;
	margin-top: 5px;
}

.fa-arrow-trend-up:hover{
	color: dodgerblue;
}
.fa-arrow-trend-down:hover{
	color: coral;
}

i{
	color: gray;
}
li:hover{
	 cursor: pointer;
}
