<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin | GrandAssembly</title>
    <link rel="stylesheet" href="/styles/home/index.css">
</head>
<body>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Suspensions</h1>
    <br>
    <br>
    <a style="color: #1b2f39" href="/admin/issue-suspension">
      Suspend User
    </a>
  </div>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Elections</h1>
    <br>
    <br>
    <a style="color: #1b2f39" href="/admin/create-election">
      Create Election
    </a>
    <br>
    <br>
    <a style="color: #1b2f39" href="/admin/manage-elections">
      Manage Elections
    </a>
  </div>
</body>
</html>