<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin | GrandAssembly</title>
    <link rel="stylesheet" href="/styles/home/index.css">
  <style>
    .user-p:hover{
      text-decoration: line-through;
    }
  </style>
</head>
<body>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Suspensions</h1>
    <br>
    <br>
    <a style="color: #1b2f39" href="/admin/issue-suspension">
      Suspend User
    </a>
  </div>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Verifications</h1>
    <br>
    <br>
    <a style="color: #1b2f39" href="/admin/verify-user">
      Verify User
    </a>
  </div>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Notifications</h1>
    <br>
    <br>
    <a style="color: #1b2f39" href="/admin/notify">
      Notify Users
    </a>
  </div>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Posts</h1>
    <br>
    <br>
    <a style="color: #1b2f39" href="/admin/delete-post">
      Delete Post
    </a>
  </div>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Users: {{ number_of_users }}</h1>
  </div>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Elections</h1>
    <br>
    <br>
    <a style="color: #1b2f39" href="/admin/create-election">
      Create Election
    </a>
    <br>
    <br>
    <a style="color: #1b2f39" href="/admin/manage-elections">
      Manage Elections
    </a>
    {% for i in elections %}
      <p onclick="document.location = '/admin/add-candidate/{{ i.id }}'">{{ i.id }} | {{ i.election_title }}</p>
    {% endfor %}
  </div>
  <div class="news-feed load-more" style="padding: 15px">
    {% for user_i in user_list %}
      <p class="user-p" onclick="window.open('/admin/delete-user/{{ user_i.id }}')">{{ user_i.username }} | {{ user_i.email }}</p>
    {% endfor %}
  </div>
</body>
</html>