<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Election | GrandAssembly</title>
    <link rel="stylesheet" href="/styles/home/index.css">
    <link rel="stylesheet" href="/styles/account/index.css">
</head>
<body>
  <form class="news-feed load-more" method="post" enctype="multipart/form-data" style="padding: 15px">
    <h1>Elections</h1>
    <br>
    <br>
    <div class="group">
      <label style="font-family: Roboto">Title</label>
      <input type="text" name="title" class="text-form-input" placeholder="Election Title">
    </div>
      <br>
      <div class="group">
        <label style="font-family: Roboto">Context</label>
        <input type="text" name="context" class="text-form-input" placeholder="Election Explanation">
      </div>
      <br>
      <div class="group">
        <label style="font-family: Roboto">Type</label>
        <input type="text" name="type" class="text-form-input" placeholder="Election Type">
      </div>
      <br>
      <br>
      <div class="group">
        <label style="font-family: Roboto">Campaign Time in Days</label>
        <input type="text" name="campaign_time" class="text-form-input" placeholder="Election Start from Now">
      </div>
      <button class="button-main-register">Create Election</button>
    </form>
</body>
</html>