<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Post | GrandAssembly</title>
    <link rel="stylesheet" href="/styles/home/index.css">
    <link rel="stylesheet" href="/styles/account/index.css">
</head>
<body>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Delete</h1>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data">
    <div class="group">
      <label style="font-family: Roboto">Post ID</label>
      <input type="text" name="post_id" class="text-form-input" placeholder="Post ID">
    </div>
      <button class="button-main-register">Remove Post</button>
    </form>
  </div>
</body>
</html>