<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suspend User | GrandAssembly</title>
    <link rel="stylesheet" href="/styles/home/index.css">
    <link rel="stylesheet" href="/styles/account/index.css">
</head>
<body>
  <div class="news-feed load-more" style="padding: 15px">
    <h1>Suspensions</h1>
    <br>
    <br>
    <form method="post" enctype="multipart/form-data">
    <div class="group">
      <label style="font-family: Roboto">Username</label>
      <input type="text" name="username" class="text-form-input" placeholder="username">
    </div>
      <br>
      <div class="group">
        <label style="font-family: Roboto">Reason</label>
        <input type="text" name="reason" class="text-form-input" placeholder="reason for suspension">
      </div>
      <br>
      <button class="button-main-register">Suspend User</button>
</body>
</html>