<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ election.election_title }}</title>
    <link rel="stylesheet" href="/styles/home/index.css">
</head>
<body>
  <div class="news-feed load-more">
    <h1>{{ election.election_title }}</h1>
    <p>{{ election.type }}</p>
    <p style="color: gray">Start: {{ election.election_start_date }} - Results: {{ election.election_end_date }}</p>
    <br>
    <p style="color: gray">{{ election.election_context }}</p>
  </div>
  <div class="news-feed load-more">
    <h1>Candidates</h1>
    {% for i in candidates %}
    <hr>
      <p>@{{ i.user_fk }}</p> <a style="background-color: dodgerblue; color: white; padding: 10px; border-radius: 5px; margin-bottom: 20px; text-decoration: none" href="/cast_vote/{{ i.user_fk }}">Vote</a>
    <p>Total Votes: {{ i.total_votes }}</p>
    <hr>
    {% endfor %}
  </div>
</body>
</html>